<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<table class="table table-striped">
  <tr>
    <td>
      <h2>Waluty</h2>
    </td>
    <td>
      <div style="float: right; margin-right: 20px;">
        <a href="/showWallet" class="btn btn-primary">Portfel</a>
      </div>
    </td>
    <td>
      <div style="float: right; margin-right: 20px;">
        <a href="/showTransactions" class="btn btn-primary">Transakcje</a>
      </div>
    </td>
    <td>
      <div style="float: right; margin-right: 20px;">
        <a href="/addCurrencyForm" class="btn btn-primary">Dodaj walute</a>
      </div>
    </td>
  </tr>
</table>
<table class="table table-striped">
  <tr><th>Nazwa</th><th>Cena</th><th>Kasuj</th><th>Aktualizuj</th></tr>
  <tr th:each="currency : ${currencies}">
    <td th:text="${currency.name}"></td>
    <td th:text="${currency.price}"></td>
    <td><a href="#" th:href="@{/deleteCurrency(id=${currency.id}, name=${currency.name})}" class="btn btn-danger">
      <i class="fa fa-trash-o fa-lg" ></i>Kasuj</a>
    </td>
    <td>
      <a href="#" th:href="@{/redirectCurrency(id=${currency.id})}" class="btn btn-primary" >
        <i class="fa fa-trash-o fa-lg" ></i>Aktualizuj </a>
    </td>
  </tr>
</table>
</body>
</html>
