<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edytuj transakcje</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Title</h5>
      <form th:action="@{/updateTransaction}" th:object="${transaction}">
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Podaj typ tranzakcji</label>
          <div class="col-sm-10">
            <select class="form-control" name="type" th:field="*{type}">  
              <option value="kupno">kupno</option>
              <option value="sprzedaż">sprzedaż</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Podaj walutę</label>
          <div class="col-sm-10">
            <select class="form-control" name="cryptoCurrencyName">
              <option th:each="currency : ${currencies}" th:value="${currency.name}" th:text="${currency.name}" th:selected="${currency.name eq transaction.cryptoCurrency.name}"></option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Podaj ilość</label>
          <div class="col-sm-10">
            <input class="form-control" name="quantity" type="number" step="any" th:field="*{quantity}">
            <span class="text-danger" th:if="${transaction.quantity == null}">Błędna walidacja, wartość nie może być pusta.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Podaj kwotę</label>
          <div class="col-sm-10">
            <input class="form-control" name="cost" type="number" step="any" th:field="*{cost}">
            <span class="text-danger" th:if="${transaction.cost == null}">Błędna walidacja, wartość nie może być pusta.</span>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Podaj datę</label>
          <div class="col-sm-10">
            <input class="form-control" type="date" name="date" th:value="${transactionDate}" th:attr="value=${transactionDate}">
            <span class="text-danger" th:if="${transactionDate == null}">Błędna walidacja, wartość nie może być pusta.</span>
          </div>
        </div>
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <input class="btn btn-primary" type="submit" value="Aktualizuj">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
